@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');
        
body{
    margin:0px; /* margem externa */
    padding: 0px; /* margem interna */
}

#main{
    width:100%;
    height: 100px;
    border: 1px solid #202020;
    
    background-color: #202020;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: #bababa;
}
    #menu{
        display: flex;
        width: 45%;
        justify-content: space-between;
        align-items: center;

        margin: 4%;
}

    #main div a{
        font-family: "Titillium Web";
        font-size: 22px;
        font-weight: 400;
        color:#5fff0394;
        text-decoration: none;
}

        #main div a:hover{
            color:#5fff0357
}


    #main button{
    margin-right: 24px;
    background-color:#5fff0394;
    color:#adadad;

    height: 40px;
    width:80px;

    font-family: "Titillium Web";
    font-size: 20px;
    font-weight: 400;

    border: none;
    box-shadow: 2px 1px 3px rgba(66, 242, 12, 0.479);
    cursor:pointer;
}

